<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="shortcut icon" href="#">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1, minimum-scale=1.0">
    <title>Gaming4All</title>
	</head>
<body>
<div class="container-fluid">
    <div>
        <form method="post" name="LogoutForm">
            <input type="submit" />
        </form>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand" href="">
                <img src="../../img/SmallLogo.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link">Platforms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">All video games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Purchased games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="logoutLink" href="" >Logout</a>
                    </li>
                    <li class="nav-item">
                        <span class="navbar-text nav-link bg-primary " style="color:white;">Balance: $0.0</span>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
    <div>
        <h2>Manage Users | Create new User</h2>
    </div>

    <div>
        <form action="{/admin/games/add}" method="post"
              style="max-width: 700px; margin: 0 auto" onsubmit="return checkEmailUnique(this)">
            <div class="border border-secondary rounded p-3">
                <div class="form-group-row">
                    <label class="col-sm-4 col-form-Label">Game Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{gameName}" required />
                    </div>
                </div>
                <div class="form-group-row">
                    <label class="col-sm-4 col-form-Label">Roles</label>
                    <div class="col-sm-8">
                        <th:block th:each="platform : ${platforms}">
                            <input type="radio" class="m-2" th:field="*{platform}" th:text="${platform.name}" th:value="${platform}"/>
                            <br/>
                        </th:block>
                    </div>
                </div>
                <div class="form-group-row">
                    <label class="col-sm-4 col-form-Label">Price</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="*{price}" required />
                    </div>
                </div>
                <div class="form-group-row">
                    <label class="col-sm-4 col-form-Label">Release Date</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" th:field="*{releaseDate}" required />
                    </div>
                </div>
                <div class="form-group-row">
                    <label class="col-sm-4 col-form-Label">Publisher</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{publisher}" required />
                    </div>
                </div>
                <div class="form-group-row">
                    <label class="col-sm-4 col-form-Label">Developer</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{developer}" required />
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel"/>
                </div>
            </div>
        </form>
    </div>
    <div class="text-center">
        <p>Gaming4all - Copyright &copy;</p>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function()
    {
        $("#buttonCancel").on("click", function()
        {
            window.location = "[[@{/admin/games}]]";
        });
    });
    $(document).ready(function(){
        $("#logoutLink").on("click", function(e){
            e.preventDefault();
            document.LogoutForm.submit();
        });
    });
</script>
</html>